<html>
  <head>
    <style>
      * {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>Account</h2>
    <p><strong>Your address:</strong> <span class="address"></span></p>
    <p><strong>Account balance:</strong> <span class="balance"></span></p>
    <button onclick="sync()">Sync with network</button
    ><button onclick="mine()">Mine next block</button>
    <hr />
    <h2>Transaction</h2>
    <p>
      <strong>Destination address:</strong
      ><input
        placeholder="Hex decoded SHA3 hash of PEM public key"
        class="dest"
        pattern="[a-fA-F0-9]{64}"
      />
    </p>
    <p>
      <strong>Token amount:</strong
      ><input placeholder="Integer" class="amount" pattern="[0-9]+" />
    </p>
    <button onclick="txn()">Execute</button>
    <hr />
    <h2>Peers</h2>
    <input placeholder="IP:PORT" class="peer" />
    <button onclick="peer()">Add</button>
    <p>List of peers:</p>
    <ul class="peer-list"></ul>
    <hr />
    <h2>Recent transactions</h2>
    <ol class="txn-list"></ol>
    <script>
      let nodeId;
      let balance;
      const headers = {
        Accept: "application/json",
        "Content-Type": "application/json",
      };
      async function refresh() {
        await fetch("/node_id")
          .then((r) => r.text())
          .then((t) => {
            nodeId = t;
            document.querySelector(".address").textContent = t;
          });
        await fetch("/balance?address=" + nodeId)
          .then((r) => r.json())
          .then((json) => {
            console.log(json);
            balance = json.balance;
            document.querySelector(".balance").textContent = new String(
              json.balance
            );
          });
        await fetch("/peer")
          .then((r) => r.json())
          .then((j) => {
            console.log(j);
            document.querySelector(".peer-list").innerHTML = "";
            j.connected_peers.forEach((p) => {
              let li = document.createElement("li");
              li.textContent = p;
              document.querySelector(".peer-list").appendChild(li);
            });
          });
        await fetch("/chain")
          .then((r) => r.json())
          .then((j) => {
            document.querySelector(".txn-list").innerHTML = "";
            console.log(j);
            j.chain
              .map((block) => block.transactions)
              .reduce((l1, l2) => l1.concat(l2), [])
              .sort((a, b) => {
                return (
                  new Date(b.timestamp).getTime() -
                  new Date(a.timestamp).getTime()
                );
              })
              .forEach((t) => {
                console.log(t);
                let li = document.createElement("li");
                // li.textContent = JSON.stringify(t);
                li.textContent =
                  trunc(t.data.src, 10) +
                  " -" +
                  t.data.amount +
                  "-> " +
                  trunc(t.data.dst, 10);
                document.querySelector(".txn-list").appendChild(li);
              });
          });
      }
      function mine() {
        fetch("/mine")
          .then((r) => r.json())
          .then(refresh);
      }
      function sync() {
        fetch("/sync")
          .then((r) => r.json())
          .then(refresh);
      }
      async function sign(data) {
        return fetch("/sign", {
          method: "POST",
          headers,
          body: JSON.stringify(data),
        }).then((r) => r.text());
      }
      async function txn() {
        // console.log("AMOUNT:", document.querySelector(".amount").value);
        const data = {
          amount: parseInt(document.querySelector(".amount").value),
          block_index: parseInt(await fetch("/block_id").then((r) => r.json())),
          dst: document.querySelector(".dest").value,
          src: nodeId,
        };
        console.log(data);
        const transaction = {
          data,
          pub_key: await fetch("/pub_key?address=" + nodeId)
            .then((r) => r.json())
            .then((j) => j?.pubkey),
          signature: await sign(data),
        };
        console.log(transaction);
        document.querySelectorAll("input").forEach((e) => (e.value = ""));
        await fetch("/txn", {
          method: "POST",
          headers,
          body: JSON.stringify(transaction),
        })
          .then((r) => r.json())
          .then((j) => console.log(j));
        await refresh();
      }
      async function peer() {
        await fetch("/peer", {
          method: "POST",
          headers,
          body: JSON.stringify({
            nodes: [document.querySelector(".peer").value],
          }),
        });
        await refresh();
      }
      function trunc(str, n) {
        return str?.length > n ? str?.substr(0, n - 1) + "" : str;
      }
      refresh();
    </script>
  </body>
</html>
